body {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

/* NAVBAR SECTION */

header {
  background-color: #1f2937;
  padding: 16px;
  display: flex;
}

.left-links {
  display: flex;
  gap: 24px;
  color: azure;
  font-family: Norse;
  font-size: 48px;
  flex-shrink: 0;
  width: 650px;
  padding-left: 30px;
}

.left-links img {
  width: 8%;
}

.right-links {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 48px;
  opacity: 0.8;
}

/* HERO SECTION */

.hero {
  display: flex;
  background-color: #1f2937;
  align-items: center;
  color: #f9faf8;
  justify-content: center;
}

.hero-main {
  flex-basis: 400px;
  padding: 80px 80px 120px 80px;
}

h1 {
  font-weight: bolder;
  font-size: 48px;
  margin-bottom: 0%;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 8px;
  opacity: 0.8;
}

.hero-img {
  border-radius: 8px;
}

.hero button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  width: 110px;
  border: none;
  padding: 10px;
}

/* GALLERY */

.content {
  margin-bottom: 110px;
}

h2 {
  font-weight: bolder;
  text-align: center;
  padding: 30px 30px;
  font-size: 36px;
}

.con-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  flex-wrap: wrap;
  text-align: center;
}

.con-gallery img {
  object-fit: cover;
  width: 200px;
  border: 4px solid #3882f6;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  display: block;
  margin-bottom: 16px;
}

/* QUOTE SECTION */

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 80px 250px;
}

.quote p {
  font-size: 36px;
  font-style: italic;
  color: 1f2937;
  opacity: 0.7;
  display: flex;
  flex-shrink: 0;

  align-items: center;
  justify-content: center;
}

.quote p2 {
  text-align: right;
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 22px;
}

/* NEWSLETTER */

.newsletter {
  background-color: #3882f6;
  border-radius: 10px;
  margin: 100px 210px;
  padding: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nl-items {
  padding-right: 160px;
}

.newsletter h3 {
  color: #f9faf8;
  font-size: 26px;
  margin: 4px 0;
}

.newsletter p3 {
  color: #f9faf8;
  font-size: 18px;
  opacity: 0.9;
}

.newsletter button {
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px;
  color: #f9faf8;
  display: flex;
}

/* NOTICES */

.credits {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 16px;
}

.copyright {
  opacity: 0.8;
  margin: 16px;
}

.notices {
  opacity: 0.7;
}

.unsplash {
  margin-bottom: 16px;
}

.flat {
  margin-bottom: 4px;
}

/* MISC GLOBAL */

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  /* boilerplate to remove predefined HTML styles */
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  /* boilerplate to remove predefined HTML styles */
  color: #e5e7eb;
}

/* I imported another font on HTML head */

@font-face {
  font-family: Norse;
  src: url(./assets/Norse.otf);
}

button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}
